<!-- App Section-->
<section class="page-section portfolio" id="personalize">
  <div class="container">
    <!-- App Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Regardez les séries les plus populaires</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- App Grid Items-->
    <div class="row">
      <!-- App Item 1-->
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-play"></i></div>
          </div>
          <img class="img-fluid" src="https://images.6play.fr/v2/images/3298397/raw?width=1184&height=666&fit=scale_crop&quality=60&format=jpeg&interlace=1&hash=5ec66abed0b64f406026aee248e9d116f2533ff5"
            alt="" />
          <b>JE TE PROMETS</b>
          <br /><i>Le jour de l’élection de François Mitterrand, le 10 mai 1980, Paul et sa femme Florence donnent naissance à des triplés, mais tout ne se passe pas comme prévu. Presque 40 ans plus tard, deux d'entre eux, Maud et Michael, sont adultes mais galèrent dans leurs vies. Quant au troisième membre de la fratie, Mathis, est un trader comblé…</i>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-play"></i>
            </div>
          </div>
          <img class="img-fluid" src="https://images.6play.fr/v2/images/3269217/raw?width=1184&height=666&fit=scale_crop&quality=60&format=jpeg&interlace=1&hash=a8171dd4fcc498d7635c6bc29a7dd78ba5841bd7"
            alt="" />
          <b>LOVE LIFE</b>
          <br /><i>En moyenne, une personne a sept relations significatives avant de rencontrer l'amour de sa vie. La vie sentimentale d’une personne, de sa première idylle à l’amour, le bon !</i>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-play"></i></div>
          </div>
          <img class="img-fluid" src="https://images.6play.fr/v2/images/3263674/raw?width=1184&height=666&fit=scale_crop&quality=60&format=jpeg&interlace=1&hash=f8deb27d6a781a2f4cbd2b9b615f7b747bb0a49e"
            alt="" />
          <b>9-1-1 : LONE STAR</b>
          <br /><i>Le 11 septembre 2001, Owen Strand fut le seul survivant de sa caserne de pompiers de Manhattan. Après l'attentat, il avait eu la tâche peu enviable de rebâtir sa caserne. Après une tragédie similaire survenue dans une caserne d'Austin, Owen débarque au Texas avec ses idées progressives sur la vie et la lutte contre les incendies, pour les aider à repartir de zéro.</i>
        </div>
      </div>

    </div>
  </div>

  <!-- Process Section-->
  <section class="page-section bg-primary text-white mb-0" id="personalize">
    <div class="container">
      <!-- Process Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-white">Personnalisez</h2>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <div class="col-lg-8 mx-auto text-center">
        <!-- To configure the consent receipt, go to .env file.-->
        <p class="lead">Connectez vos centres d'intérêt pour personnaliser votre expérience.</p>
        <p class="lead">Obtenez des suggestions intelligentes pour l'émission télévisée à ne pas manquer.</p>
        <div class="text-center mt-4">
          <a class="btn btn-xl btn-primary btn-outline-light" href="{{actionActivateConsent}}">
            <i class="material-icons mr-1">airplay</i>
            Connectez votre expérience
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- App Section-->
  <section class="page-section portfolio" id="watch">
    <div class="container">
      <!-- App Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Regardez maintenant</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- App Grid Items-->
       {{#if active}}
      <!-- App Item 1-->
      <div class="col-lg-8 mx-auto text-center">
          <div id="tinder">
          <div class="buddy" style="display: block;">
            <div class="portfolio-item mx-auto" data-toggle="modal">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-play"></i></div>
              </div>
              <div class="avatar" style="display: block; background-image: url('https://images.6play.fr/v2/images/3082125/raw?width=640&height=360&fit=scale_crop&quality=60&format=jpeg&interlace=1&hash=439624bff27cf4991316e50e574c434c61e55602')">
                </div>
            </div>
          </div>
        </div>
        <h3 style="color:#b00124;margin-top:-20px">MADAME EST SERVIE</h3>
        <br/><br/>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <h4><i class="fa fa-thumbs-down" aria-hidden="true"></i>
                Swipe left</h4>
            </div>
            <div class="col-sm">
              <h4><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                Swipe right</h4>
            </div>
          </div>
        </div>
        </div>
      </div>
      {{else}}
      <!-- App Item 1-->
      <div class="col-lg-8 mx-auto text-center">
          <div id="tinder">
          <div class="buddy" style="display: block;">
            <div class="portfolio-item mx-auto" data-toggle="modal">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-play"></i></div>
              </div>
              <div class="avatar" style="display: block; background-image: url('https://images.6play.fr/v2/images/3150582/raw?width=640&height=360&fit=scale_crop&quality=60&format=jpeg&interlace=1&hash=2aa68814505682411cb3b6403aa88b7224be5c60')">
                </div>
            </div>
          </div>
        </div>
        <h3 style="color:#b00124;margin-top:-20px">THE TWILIGHT ZONE : LA QUATRIÈME DIMENSION</h3>
        <br/><br/>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <h4><i class="fa fa-thumbs-down" aria-hidden="true"></i>
                Swipe left</h4>
            </div>
            <div class="col-sm">
              <h4><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                Swipe right</h4>
            </div>
          </div>
        </div>
        </div>
      </div>
      {{/if}}
      <!--
      <div class="col-lg-8 mx-auto text-center">
        <div id="tinder">
          {{#each creativeWorks}}
          <div class="buddy" style="display: block;">
            <div class="portfolio-item mx-auto" data-toggle="modal">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-play"></i></div>
              </div>
              <div class="avatar" style="display: block; background-image: url({{this.image}})">
                {{this.uri}}
              </div>
            </div>
          </div>
          {{/each}}
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <h4><i class="fa fa-thumbs-down" aria-hidden="true"></i>
                Swipe left</h4>
            </div>
            <div class="col-sm">
              <h4><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                Swipe right</h4>
            </div>
          </div>
        </div>
      </div>
      -->
    </div>
    </div>
  </section>